.banner {
    position: relative;
    height: 440px;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    
}

.banner-contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner-title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner-description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}

.banner-fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(180deg,transparent, rgba(37,37,37,0.61), #111);
}

.banner-button {
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    padding-bottom: 0.5rem;
}

.banner-button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.5;
}